EJERCICIO 1


Crea tres variables num√©ricas de tipo integer (entero), llamadas de la siguiente forma:

numero1

numero2

numero3

Utilizando los operadores l√≥gicos:

¬øEn vuestro caso, es el numero1 mayor que el numero2?

¬øEs el numero1 menor que el numero2 pero mayor que el numero3?

¬øEs el numero3 igual que el numero2

¬øEs el numero2 distinto que el numero1?

In [ ]:

num1 = 30
num2 = 40
num3 = 50

In [5]:
num1 > num2

False

In [7]:
num1 < num2 > num3

False

In [6]:
num3 == num2

False

In [8]:
num2 != num1

True

EJERCICIO 2


Crea dos variables num√©ricas de tipo float (decimal) con dos decimales, ll√°malas de la siguiente forma:

altura1

altura2 Utilizando los operadores matem√°ticos aprendidos en la lecci√≥n:

Cu√°l es la suma de las dos alturas

Cu√°l es la diferencia entre las alturas

Cu√°l es el resto de la divisi√≥n de las dos alturas

Cu√°l es resultado de la divisi√≥n de las dos alturas, redondead el resultado a un decimal.

In [ ]:

altura1 = 1.70
altura2 = 1.55

In [11]:
altura1 + altura2

3.25

In [12]:
altura1 - altura2

0.1499999999999999

In [13]:
round(altura1 / altura2, 1)

1.1

EJERCICIO 3


Escribe un programa usando la funci√≥n input() que le pregunte al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:

Imprime su nombre y apellidos todo en may√∫sculas

Imprime su nombre y apellidos todo en min√∫sculas

Imprime su nombre y apellidos con la primera letra del nombre y los apellidos en may√∫scula y el resto en min√∫scula.

Imprime solo la primera letra del nombre en may√∫scula.

In [2]:
input("dime cual es tu nombre y tus apellidos")

'maria granero'

In [4]:
nombre = "Maria Granero"

In [6]:
print(nombre.upper())

MARIA GRANERO

In [7]:
print(nombre.lower())

maria granero

In [8]:
print(nombre.title())

Maria Granero

EJERCICIO 4 

Escribe un programa usando la funci√≥n input() que:

Le pregunte al usuario por una frase, almacenad este resultado en una variable.

Le pregunte al usuario por una vocal, almacenad este resultado en una variable.

Imprime la misma frase pero con la vocal introducida en may√∫sculas.

In [10]:
frase = input("escribe aqui una frase: ")
vocal = input("escribe una vocal: ")

In [11]:
print(frase)

me gustan las peras

In [12]:
frase_modificada = frase.replace(vocal, vocal.upper())

In [13]:
print(frase_modificada)

me gustAn lAs perAs

EJERCICIO 5

Crea un programa que realice los siguientes pasos:

Solicite al usuario que introduzca su lista de la compra en una sola l√≠nea, separando cada elemento por comas.

Ejemplo de entrada: leche, pan, huevos, fruta.

Convierte la entrada del usuario en una lista donde cada elemento sea un √≠tem de la compra.

Muestra cada √≠tem de la lista en una nueva l√≠nea.

üìå Pistas:

Para separar los elementos introducidos por el usuario, puedes usar el m√©todo .split(","). Este m√©todo convierte una cadena de texto en una lista, separando por el car√°cter que indiques (en este caso, una coma).

Para unir los elementos de una lista en una sola cadena con un salto de l√≠nea entre cada √≠tem, puedes usar el m√©todo .join() con "\n" como separador.

üìå Output deseado


Copy
    # output despu√©s del ejercicio
    "peras"
    "manzanas"
    "naranjas"

In [24]:
lista_de_la_compra =input("introduce tu lista de la compra separando por comas")

In [31]:
print(lista_de_la_compra)

['peras,', 'naranjas,', 'manzanas,', 'linomes,', 'coco']